$title_fsize_ssm: 1rem;
$text_fsize_ssm: 0.7rem;
$title_fsize_sm: 1.5rem;
$text_fsize_sm: 1rem;
$title_fsize_md: 1.7rem;
$text_fsize_md: 1.2rem;
$title_fsize_lg: 1.9rem;
$text_fsize_lg: 1.5rem;
$title_fsize_xl: 2.5rem;
$text_fsize_xl: 2rem;
$title_fsize_xxl: 2.8rem;
$text_fsize_xxl: 2.3rem;